@import 'meyer-reset.css';
@import 'setup.css';
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Play', sans-serif;
	align-content: center;
}


picture {
	border: 3px solid blue;
	max-width: 300px;
}

h1 {
	padding: 10px;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	padding: 10px;
	font-size: 20px;
}

.crew {
	margin-bottom: 10px;
}