* {
	box-sizing: border-box;
}


body {
	background-color: lightblue;
	font-family: sans-serif;
	color: darkblue;
	letter-spacing: 0.02em;
	line-height: 1.5;
}


h1 {
	font-weight: bolder;
	font-size: 18px;
	
}


h2  {
	font-weight: bold;
	font-size: 16px;
}


h3	{
	font-size: 14px;
	color: red;
}


p {
	font-size: 14px;
	font-family: fantasy;
}