@import 'meyer-reset.css';

* { 
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
/*	display: block;
	text-decoration: none; */
	color: white;
}

a p {
	/*display: inline;*/
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 40px;
	padding: 20px;
}

em {
	font-style: italic;
}