@import 'meyer-reset.css';
@import 'setup.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');


:root {
	--darkblue: hsl(201, 100%, 18%);
	--blue: hsl(196, 100%, 37%);
	--black: hsl(201, 100%, 0%);
	--darkwhite: hsl(180, 5%, 81%);
	--lightwhite: hsl(180, 5%, 95%);
	--bluehover: hsl(221, 100%, 60%);
}


/* ----SETUP---- */

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	background-color: var(--darkblue);
	color: var(--lightwhite);
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: var(--darkblue);
	padding: 20px;
	letter-spacing: 0.1em;
	line-height: 1.7em;
}

span {
	font-weight: 600;
}

@media (min-width: 700px) {
	header {
		font-size: 1.5rem;
		line-height: 1.7em;
	}
}

@media (min-width: 900px) {
	header {
		font-size: 2rem;
		line-height: 1.7em;
	}
}