
graphic-diptych {
  display: block;
  padding:  20px;
  padding-top: 4vh;
  padding-bottom: 4vh;
  /* */
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #2e4654;
}

graphic-diptych text-content {
  display: block;
}

graphic-diptych .intro-voice {
  font-size: clamp(36px, 6vw, 76px);
  letter-spacing: 0.1rem;
  font-weight: 600;
}
 
@media (min-width: 660px) {
  .welcome {
    background-image: url("https://peprojects.dev/alpha-3/andrew/projects/super-responsive-challenge/images/gpu.jpg");
    background-size: cover;
  }

  graphic-diptych {
    flex-direction: row;
    align-items: center;
  }

  graphic-diptych :is(picture, text-content) {
    width: 50%;
  }

  graphic-diptych picture {
    display: none;
    /* order: 2;*/
    /* OR you could use flex-direction row-reverse */
    /* it depends on the situation */
  }
}
