@import 'meyer-reset.css';

* { 
	box-sizing: border-box;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

a p {
	display: inline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

em {
	font-style: italic;
}