.products {
	border-radius: 8px;
	backdrop-filter: blur(5px);
	color: white;
	background: rgba(0, 0, 0, 0.9);
	box-shadow:  0 1px 12px rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin: 50px 20px 0px 20px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.products h1 {
	font-family: 'Skranji', cursive;
	font-size: 1.25rem;
}

.products p {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.products h1 + p {
	margin-left: 20px;
	margin-right: 20px;
}

.products h1, h2 {
	padding: 20px;
}

@media (min-width: 600px) {
	.products h1 {
		font-size: 1.5rem;
	}

	.products p {
		font-size: 1.2;
	}
}

@media (min-width: 900px) {
	.products h1 {
		font-size: 1.7rem;
	}

	.products p {
		font-size: 1.4rem;
	}
}