/* SETUP */

@import 'reset.css';

* { 
	box-sizing: border-box;
}

html {
	background-color: rgba(143, 255, 255, 0.4);
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline; 
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}



/* ACCESSIBILITY */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-content {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

.plans {
	flex-grow: 1;
}



/* MODULE */
masthead {
	display: flex;
	flex-direction: row;
	align-items: center;
}

masthead .company-logo {
	max-width: 144px;
	margin-right: 15px;
}

masthead .company-name {
	font-family: sans-serif;
}

plan-grid {
	display: grid;
	grid-gap: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
}

plan {
	display: block;
}

plan picture {
	max-width: 100px;
	border-radius: 50%;
	overflow: hidden;
}

plan .heading {
	font-family: sans-serif;
	font-size: 24px;
}

h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}

plan .link {
	margin-top: 20px;
	text-decoration: underline;
}

plan-grid {
	display: grid;
	grid-gap: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
}



@media (min-width: 479px) {
	plan picture {
		margin-bottom: 10px;
	}
}

@media (min-width: 480px) {
	plan {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

		plan picture {
		max-width: 130px;
	}
}

@media (min-width: 480px) and (max-width: 799px) {
	plan .copy-group {
		margin-left: 20px;
	}
}

@media (min-width: 800px) {
	plan-grid {
  		grid-gap: 20px;
  		grid-template-columns: 1fr 1fr 1fr;
	}

	plan {
		flex-direction: column;
		text-align: center;
	}

	plan picture {
		margin-bottom: 10px;
	}

	plan .copy-group {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	plan .link {
		text-decoration: none;
		background-color: rgba(0,0,0,.8);
		color: white;
		font-family: sans-serif;
		text-transform: uppercase;
		padding: 10px 20px;
		border-radius: 20px;
	}
}

.splash inner-column {
	padding-top: 20px;
	padding-bottom: 40px;
}

.splash h1 {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0;
}

.splash .cloud {
	display: none;
}

.raindrop {
	display: none;
}



/* BREAKPOINT 1 */
@media (min-width: 600px) {
	.splash inner-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 60px;
	}

		.splash picture {
		margin-right: 20px;
		flex-basis: 50%;
	}

		.splash .info {
		flex-basis: 50%;
	}

		.splash h1 {
		font-size: 25px;
	}

	footer a {
		display: inline-block;
		margin-right: 10px;
	}
}



/* BREAKPOINT 2 */
@media (min-width: 900px) {
	.splash {
		overflow: hidden;
	}

	.splash inner-column {
		align-items: flex-start;
		position: relative;
	}

	.splash picture {
		flex-basis: 40%;
	}

	.splash .info {
		flex-basis: 55%;
		max-width: 60ch;
	}

	.splash h1 {
		font-size: 30px;
	}

	.splash .cloud {
		display: block;
		width: 200px;
		position: absolute;
		right: 20%;
		bottom: -70px;
		opacity: .5;
	}
}



/* THEME */
.site-header {
	background-color: rgba(126, 177, 255, 0.5);
}


section.splash {
	position: relative;
}

section.splash .rain-drop-2 {
	display: none;
}

@media (min-width: 1700px) {
	section.splash .rain-drop-2 {
		display: block;
		width: 100%;
		max-width: 250px;
		position: absolute;
		bottom: -100px;
		left: 0px;
	}
}

section.plans {
	background-color: rgba(126, 177, 255, 0.5);
	position: relative;
	overflow: hidden;
}

section.plans .raindrop {
	display: block;
	width: 200px;
	height: 200px;
	background-image: url("https://peprojects.dev/alpha-3/andrew/super-layout-challenge/images/raindrop.png");
	background-size: cover;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
}

@media (min-width: 600px) {
	section.plans .raindrop {
		display: block;
		opacity: 0.5;
		pointer-events: none;
	}
}

@media (min-width: 480px) and (max-width: 799px) {
	section.plans inner-column {
		max-width: 85%;
	}
}

.site-footer {
	background-color: rgba(126, 179, 255, 0.9);
	min-height: 200px;
}

nav.legal {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

nav.legal a {
	padding: 20px;
	font-family: sans-serif;
}