@import "meyer-reset.css";
@import "setup.css";

body {
	background-color: skyblue;
	padding: 20px;
}

nav a {
	text-decoration: underline;
	padding: 10px;
}

nav {
	display: flex;
}

.custom-shop {
	margin-bottom: 20px;
}

.description {
	margin: 20px 0px 20px 0px;
}

h1 {
	font-size: 40px;
}


.page-content {

}

guitar-card {
	display: block;
	padding: 10px;
}

.guitar + .guitar {
	margin-top: 30px;
}

field {
	display: block;
	flex-direction: column;
}


field :is(label, input) {
	display: block;
}

field + field {

	margin-top: 20px;
}

button {
	display: block;
	margin-top: 20px;
}

