@import 'meyer-reset.css';
@import 'setup.css';



/* ==HEADER STYLING== */


.site-logo {
	padding: 25px;
}

.visually-hidden { /* utility */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav:focus-within .menu-toggle {
	  clip: rect(0 0 0 0);
	  clip-path: inset(50%);
	  height: 1px;
	  overflow: hidden;
	  position: absolute;
	  white-space: nowrap;
	  width: 1px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-family: sans-serif;
	font-size: 1.1rem;
	background-color: lightgray;
}

nav + header h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

nav a {
	padding: 15px;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	color: maroon;
	font-weight: 500;
	border-bottom: 2px solid maroon;
}

header h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}

.header-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h1 + .header-image {
	margin: 15px 15px;
}

figcaption {
	font-size: 0.688rem;
	font-family: sans-serif;
	color: #777777;
}

img + figcaption {
	margin-top: 10px;
}


/* ==MAIN STYLING== */

.content p, h2 {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 1.125rem;
	color: #666666;
}

.inner-column > p {
	margin: 15px 15px;
}

.content p + h2 {
	margin: 15px 15px;
}

.content h2 + p {
	margin: 15px 15px;
}

.content p + p {
  margin: 15px 15px;
}
	
.content h2 {
	font-weight: 700;
}



/* ==FOOTER STYLING== */

em {
	font-family: sans-serif;
	line-height: 1;
	font-size: 1rem;
	color: hsl(1, 1%, 23%);
	border-top: 2px solid lightgray;
	margin: 15px;
}



/* ==BREAKPOINTS== */

@media (max-width: 780px) {
	nav:focus-within {
/*		top: 10;
		right: 10;
		bottom: 10;
		left: 10;*/
		background-color: lightgray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	nav:not(:focus-within) .link {
	  clip: rect(0 0 0 0);
	  clip-path: inset(50%);
	  overflow: hidden;
	  position: absolute;
	}

	button div {
		width: 25px;
	  height: 4px;
	  background-color: black;
	  margin: 5px 0;
	}
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

@media (min-width: 781px) {
	nav ul {
		display: flex;
		flex-direction: row;
		list-style: none;
	}
	.menu-toggle {
		display: none;
	}
}

@media (min-width: 700px) {
	header h1 {
		width: 45vw;
	}

	figcaption {
		font-size: 0.8rem;
	}
}

@media (min-width: 1000px) {
	header h1 {
		font-size: 2.5rem;
		width: 40vw;
	}

	figcaption {
		font-size: 0.9rem;
	}	
}

@media (min-width: 1200px) {
	header h1 {
		font-size: 2.7rem;
		width: 40vw;
	}	
}