@import 'setup.css';
@import 'meyer-reset.css';

body * {
	/*border: 3px solid skyblue;*/
}

body {
	background-color: rgb(25, 25, 25);
}

.inner-column {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}




/* ----HEADER STYLING---- */
.name {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.andrew {
	font-family: 'Play', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #FFD97F;
	letter-spacing: .1em;
	padding: 15px;
	border-top: 3px solid #FF9100;
	border-right: 3px solid #FF9100;
}

.bonacci {
	font-family: 'Play', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #FFD97F;
	letter-spacing: .1em;
	padding: 15px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid #FF9100;
}

.webdev {
	font-family: 'Play', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #FFD97F;
	letter-spacing: .1em;
	padding: 15px;
	margin-top: 20px;
	text-align: center;
}

nav {
	background-color: rgb(40, 40, 40);
	margin-top: 20px;
	border-top: 3px dashed #FF9100;
	border-bottom: 3px dashed #FF9100;
}

.nav-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav a {
	font-family: 'Play', sans-serif;
	font-weight: 400;
	color: #FFD97F;
	letter-spacing: .1em;
	padding: 15px;
	border: 2px solid #FF9100;
	border-radius: 15px;
	margin-top: 20px;
	min-width: 150px;
	text-align: center;
}

header nav a:nth-of-type(3) {
	margin-bottom: 20px;
}

header nav a:hover {
-webkit-box-shadow: 0px 0px 30px 0px #FFB300;
-moz-box-shadow: 0px 0px 30px 0px #FFB300;
box-shadow: 0px 0px 30px 0px #FFB300;
color: #FFD97F;
border: 2px solid #FFB300;
transition: .2s ease;
}
/* ----END HEADER STYLING---- */




/* ----BETWEEN-SPACE STYLING---- */
.between-space {
	height: 200px;
	background-color: rgb(25, 25, 25);
}
/* ----END BETWEEN-SPACE STYLING---- */




/* ----ABOUT ME STYLING---- */
main #about {
	background-color: rgb(40, 40, 40);
	border-top: 3px dashed #FF9100;
	border-bottom: 3px dashed #FF9100;
}

.about-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-h2 {
	font-family: 'Play', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #FFD97F;
	letter-spacing: .1em;
	padding: 15px;
	text-align: center;
}

#about .p1 {
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FF9100;
	padding: 10px;
	width: 200px;
	text-align: center;
}

#about .p2 {
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFD97F;
	padding: 10px;
	width: 200px;
	text-align: center;
}

#about a {
	text-decoration: none;
	font-family: 'Play', sans-serif;
	color: #FDF8E9;
	margin-top: 20px;
}

#about a:hover {
	color: #FFD97F;
}










