@import 'reset.css';

* {
	box-sizing: border-box;
}
	
body {
	background-color: #FFFFFF;
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-weight: 700;
	font-family: Arial;
	font-size: 20px;
	text-align: left;
}

header {
	display: flex;
	flex-direction: column;
}

@media (min-width: 700px) {
	h1 {
		text-align: center;
	}

	header {
		flex-direction: row;
	}
}













/*-----FOR REFERENCE ONLY-----*/

h1, .star-totals, .star-counter, .ask-review {
	border: 2px solid green;
}

/*----------------------------*/




